@use '../shared/scss/variables.scss' as *;

article {
    section.title {
        h1{
            margin-left: 20px;
        }
    }
    section.list {
        margin-top: 20px;
        width: 100%;

        table {
            width: 90%;
            margin:auto;
            border-collapse: collapse; /* Merges adjacent cell borders */
            border-spacing: 0; /* Removes the space between cells */
        
            thead tr th {
                background-color: $vivid-sky-blue;
                padding: 5px 10px;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
        
            tbody {
                tr {
                    position: relative;
        
                    .edit-icon {
                        position: absolute;
                        right: -30px;
                        /* Adjust distance from table */
                        top: 50%;
                        transform: translateY(-50%);
                        opacity: 0;
                        transition: opacity 0.2s ease;
                        cursor: pointer;
                        font-size: 18px;
                    }
        
                    &:hover .edit-icon {
                        opacity: 1;
                    }
        
                    &.ungrouped {
                        td {
                            background-color: rgb(256,0,0,0.2);
                            border-top: 2px solid red;
                            border-bottom: 2px solid red;
        
                            &:first-child {
                                border-left: 2px solid red;
                                border-top-left-radius: 5px;
                                border-bottom-left-radius: 5px;
                            }
                            &:nth-child(4) {
                                border-right: 2px solid red;
                                border-top-right-radius: 5px;
                                border-bottom-right-radius: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}